= provide(:title, 'Список заявок' )

%h1 Список заявок

%table.table.table-hover
  %thead
    %tr
      %th Имя
      %th Телефон
      %th Со страницы
      %th{:colspan => "3"}
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.phone
        %td= order.page.title
        %td= link_to 'Удалить', backend_order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block btn-xs'
