<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @lombard_order.number %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @lombard_order.slug %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lombard_order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lombard_order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lombard_order.email %>
</p>

<%= link_to 'Edit', edit_lombard_order_path(@lombard_order) %> |
<%= link_to 'Back', lombard_orders_path %>
