<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @store_order.number %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @store_order.slug %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store_order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store_order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store_order.email %>
</p>

<p>
  <strong>Product:</strong>
  <%= @store_order.product %>
</p>

<%= link_to 'Edit', edit_store_order_path(@store_order) %> |
<%= link_to 'Back', store_orders_path %>
