<%= provide(:title, 'Главная' ) %>

<div class="grid">

  <figure class="effect-selena">
  	<%= image_tag @lombard.image %>
  	<figcaption>
	  <h2><%= @lombard.name %></h2>
	  <a href="/lombard"></a>
	</figcaption>
  </figure>

  <figure class="effect-selena">
    <%= image_tag @store.image %>
    <figcaption>
    <h2><%= @store.name %></h2>
    <a href="/store"></a>
  </figcaption>
  </figure>

  <% @pages.each do |p|%>
  <figure class="effect-selena">
  	<%= image_tag p.cover %>
  	<figcaption>
	  <h2><%= p.title %></h2>
	  <%= link_to p, p %>
	</figcaption>
  </figure>
<% end %>
</div>	



