= provide(:title, 'Ломбард' )
%h1.page_heading.text-center
  Ломбард
%section
  %ul#f.nav.nav-tabs{:role => "tablist"}
    %li{:role => "presentation"}
      %a{"aria-controls" => "", "data-toggle" => "tab", :href => "#home", :role => "tab"}
        %i.fa.fa-home
    - @lombard.lombard_tabs.each do |t|
      %li{:role => "presentation"}
        %a{"aria-controls" => "", "data-toggle" => "tab", :href => "##{t.id}", :role => "tab"}
          = t.title
    %li{:role => "presentation"}
      %a{"aria-controls" => "", "data-toggle" => "tab", :href => "#order", :role => "tab"}
        Заказать услугу
  #j.tab-content
    %br/
    #home.tab-pane{:role => "tabpanel"}
      = raw @lombard.content
    - @lombard.lombard_tabs.each do |t|
      .tab-pane{:id => "#{t.id}", :role => "tabpanel"}
        = raw t.content
    #order.tab-pane{:role => "tabpanel"}
      = render 'client/lombard_order'
