<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <th>Publish</th>
      <th>Cover</th>
      <th>Icon</th>
      <th>Bg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.description %></td>
        <td><%= page.content %></td>
        <td><%= page.publish %></td>
        <td><%= page.cover %></td>
        <td><%= page.icon %></td>
        <td><%= page.bg %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
