<p id="notice"><%= notice %></p>

<div class="content">
<p>
  <strong>Заголовок страницы:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Описание страницы:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Опубликовано:</strong>
  <%= @page.publish %>
</p>


<p>
  <strong>Icon:</strong>
  <%= fa_icon @page.icon %>
</p>

<p>
  <strong>Bg:</strong>
  <%= @page.bg %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>

</div>

<div class="page_tabs">
  <% @page.tabs.each do |t| %>
   
      <%= t.title %>

  <% end %>

</div>

<div class="page_cover">
  <%= image_tag @page.cover %>
</div>


<%= raw @page.content %>
