<%= simple_form_for([:backend, @tab]) do |f| %>
  <%= f.error_notification %>

  <div class="row">
  	<div class="col-md-6">
      <%= f.input :title %>
    </div>
  	<div class="col-md-6">
      <%= f.association :page %>
    </div>

 <div class="col-md-12">
  <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Mini'} }%>
 </div>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
