<%= simple_form_for([:backend, @tab]) do |f| %>
  <%= f.error_notification %>

  <div class="row">
  	<div class="col-md-6">
      <%= f.input :title %>
    </div>
  	<div class="col-md-6">
      <%= f.association :page %>
    </div>

 <div class="col-md-12">
  <%= f.input :content, as: :bootsy, input_html: {:style => "min-height: 300px" } %>
 </div>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
