<p>
  <strong>Имя:</strong>
  <%= @lombard_order.name %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @lombard_order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lombard_order.email %>
</p>

<h3>Товары в заявке</h3>

<% @lombard_order.products.each do |p|%>

    <h5><%= p.name %></h5>
    <%= image_tag p.image, style: 'width: 300px;' %>

<% end %>


