<%= simple_form_for(@store_tab) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :icon %>
    <%= f.association :store %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
