<p id="notice"><%= notice %></p>

<h1>Listing Store Tabs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Icon</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_tabs.each do |store_tab| %>
      <tr>
        <td><%= store_tab.title %></td>
        <td><%= store_tab.content %></td>
        <td><%= store_tab.icon %></td>
        <td><%= store_tab.store %></td>
        <td><%= link_to 'Show', store_tab %></td>
        <td><%= link_to 'Edit', edit_store_tab_path(store_tab) %></td>
        <td><%= link_to 'Destroy', store_tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store tab', new_store_tab_path %>
