= simple_form_for(@lombard_tab) do |f|
  = f.error_notification
  .row
    .col-md-4
      = f.input :title, label: 'Заголовок таба', placeholder: 'Этот таб будет показан в ломбарде'
    .col-md-6
    .col-md-2
      = f.button :submit, 'Сохранить', class: 'btn btn-block'
  =  f.input :content, as: :bootsy, input_html: {:style => "min-height: 300px" } 
  .form-actions
