<p id="notice"><%= notice %></p>

<h1>Listing Lombard Tabs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Icon</th>
      <th>Lombard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lombard_tabs.each do |lombard_tab| %>
      <tr>
        <td><%= lombard_tab.title %></td>
        <td><%= lombard_tab.content %></td>
        <td><%= lombard_tab.icon %></td>
        <td><%= lombard_tab.lombard %></td>
        <td><%= link_to 'Show', lombard_tab %></td>
        <td><%= link_to 'Edit', edit_lombard_tab_path(lombard_tab) %></td>
        <td><%= link_to 'Destroy', lombard_tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lombard tab', new_lombard_tab_path %>
