<%= provide(:title, 'Настроить ломбард' ) %>


<%= simple_form_for(@lombard) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :name, label: 'Название' %>
    </div>
    <div class="col-md-4">
      <%= f.input :description, label: 'Описание' %>
    </div>
    <div class="col-md-4">
      <%= f.input :image, label: 'Обложка для меню' %>
    </div>
    <div class="col-md-12">
      <%= f.input :content, label: 'Your label', :as => :text, :input_html => { :class => "redactor" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Применить' %>
  </div>
<% end %>
