<%= simple_form_for([:backend, @product]) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name %>
    </div>
    <div class="col-md-3">
      <%= f.input :price %>
    </div>
    <div class="col-md-3">
      <%= f.input :image %>
    </div>
    <div class="col-md-12">

    <%= f.input :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Mini'} }%>

    </div>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Применить' %>
  </div>
<% end %>
