= provide(:title, 'Список товаров на сайте' )

%h1 Список товаров на сайте
= link_to 'Добавить товар', new_backend_product_path, class: 'btn btn-primary'
%br
%br

%table.table.table-hover
  %thead
    %tr
      %th Название
      %th Цена
      %th{:colspan => "3"}
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.price
        %td= link_to 'Редактировать', edit_backend_product_path(product), class: 'btn btn-info btn-block btn-xs'
        %td= link_to 'Удалить', backend_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block btn-xs'


