= provide(:title, 'Заявки в магазине' )

%h1 Заявки в магазине


%table.table.table-hover
  %thead
    %tr
      %th #
      %th Имя
      %th Телефон
      %th{:colspan => "3"}
  %tbody
    - @store_orders.each do |store_order|
      %tr
        %td= store_order.id
        %td= store_order.name
        %td= store_order.phone
        %td= store_order.product_id
        %td= link_to 'Удалить', backend_store_order_path(store_order), method: :delete, data: { confirm: 'Are you sure?' }

