<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lombard.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lombard.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lombard.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @lombard.image %>
</p>

<%= link_to 'Edit', edit_lombard_path(@lombard) %> |
<%= link_to 'Back', lombards_path %>
